# Django
DEBUG=True
SECRET_KEY=yb6s=0545y$2ptci^-h(ffn*covrdsv2udsf0srd@)xb62*xm$
ALLOWED_HOSTS=localhost,127.0.0.1,gabrielcjr.space,www.gabrielcjr.space,144.22.149.93

# PostgreSQL
POSTGRES_DB=amae
POSTGRES_USER=amae
POSTGRES_PASSWORD=amae_dev_2026
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Google Maps (add your key later)
GOOGLE_MAPS_API_KEY=
