# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/

# Environment variables
.env

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Node
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
